
<div class="container-fluid">
 <div class="hero">
    <h1>Designed by Soleil,Men & Women</h1>
    <div class="img">
    <img src="https://uploads-ssl.webflow.com/6086aa76051961eba7319a10/6086aa760519619fc8319a3c_pexels-alesia-kozik-6639756.jpg" alt="">
   </div>
   <div class="text">
      <h2>We create Collections to make our bodies look Glorious</h2>
   </div>
   <div class="text1">
      <h2>Discover Fashion That Speaks For You – Trendy Collections For Every Style!</h2>
   </div>
 </div>
 <div class="slide">
<h3>Collection</h3>
 </div>

</div>